parameters:
    paths:
        - app
    level: 4
    reportUnmatchedIgnoredErrors: false
    inferPrivatePropertyTypeFromConstructor: true
    excludePaths:
        - %currentWorkingDirectory%/app/Providers/*
    ignoreErrors:

